body
{
    background: peru;
}

.heading
{
    font-size: 20px;
    width: 100%;
    margin: 0;
    box-shadow: 5px 5px 5px yellow;
}

.note
{
    font-size: 18px;
    color: #E02401;
}

#db
{
    background-color: black;
    text-align: center;
    position: absolute;
    bottom: 0;
    font-size: 25px;
    width: 100%;
}


canvas
{
    border: 5px solid black;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgb(66, 66, 66);
    margin-top: 30px;
    background-color: #ffdab9;
}